- slide_contents = YAML.load_file("#{Rails.root}/config/slide_contents.yml")["slide_contents"]
- slide_indexs = (0...slide_contents.count).to_a.shuffle
.reveal
  .slides
    - if flash[:drawed_now]
      %section.center{ data: { autoslide: 3000 } }
        %h1= fa_icon('spinner', class: 'fa-spin fa-3x fa-fw')
    %section.center
      %h1= t("terms.titles.presentation_of_target", target: @lottery.name)
    - @new_winners.each do |winner|
      - slide = slide_contents[cycle(slide_indexs).to_i]
      - filename = slide["filename"]
      - message = slide["message"][@lottery.message_type].gsub("{{name}}", winner.name)
      - text_position = slide["text_position"].presence || "top"
      - text_color = slide["text_color"].presence || "white"
      %section{ data: { background: asset_path("cats/#{filename}") }, class: text_position }
        %h2{ class: text_color }= message
    %section
      %h2= t("terms.titles.congratulations")
      %table
        %tbody
          - 0.step(@all_winners.count - 1, 2) do |index|
            %tr
              %td= "#{index + 1}. #{@all_winners[index].name}"
              - if @all_winners[index + 1]
                %td= "#{index + 2}. #{@all_winners[index + 1].try(:name)}"

