- slide_contents = YAML.load_file("#{Rails.root}/config/slide_contents.yml")["slide_contents"]
- slide_indexs = (0...slide_contents.count).to_a.shuffle
.reveal
  .slides
    %section.center
      %h1= t("terms.titles.presentation_of_target", target: @lottery.name)
    - @winners.each do |winner|
      - slide = slide_contents[cycle(slide_indexs).to_i]
      - filename = slide["filename"]
      - message = slide["message"].gsub("{{name}}", winner.name)
      - text_position = slide["text_position"].presence || "top"
      - text_color = slide["text_color"].presence || "white"
      %section{ data: { background: "/assets/cats/#{filename}" }, class: text_position }
        %h2{ class: text_color }= message
    %section
      %h2= t("terms.titles.congratulations")
      %table
        %tbody
          - ((@winners.count + 1)/ 2).ceil.times do |index|
            %tr
              %td= @winners[index].name
              %td= @winners[index + 1].try(:name)

