%h1= t('terms.titles.show_target', model_name: Lottery.model_name.human, target: @lottery.name)

%p
  = Lottery.human_attribute_name :name
  = @lottery.name
%p
  = Lottery.human_attribute_name :winners_count
  = @lottery.winners_count
%p
  = Lottery.human_attribute_name :drawn
  = t("terms.choices.drawn.#{@lottery.drawn? ? 'true' : 'false'}")
