%h1= t('terms.titles.show_target', model_name: Lottery.model_name.human, target: @lottery.name)

.items-wrapper
  .item-group
    .col-md-2.title= Lottery.human_attribute_name :name
    .col-md-10= @lottery.name
  .item-group
    .col-md-2.title= Lottery.human_attribute_name :winners_count
    .col-md-10= @lottery.winners_count
  .item-group
    .col-md-2.title= Lottery.human_attribute_name :candidates_count
    .col-md-10= @lottery.candidates.count
  .item-group
    .col-md-2.title= Lottery.human_attribute_name :drawn
    .col-md-10= t("terms.choices.drawn.#{@lottery.drawn? ? 'true' : 'false'}")

%p
  = link_to t('terms.operations.edit'), edit_lottery_path(@lottery)
%p
  = link_to t('terms.operations.destroy'), lottery_path(@lottery), method: :delete, data: { confirm: t('messages.are_you_sure?') }
%p
  = link_to t('terms.operations.index'), lotteries_path
%p
  = link_to t('terms.titles.index', model_name: Candidate.model_name.human), lottery_candidates_path(@lottery)
