%h1= t('terms.titles.edit_target_of_parent', model_name: Candidate.model_name.human, parent: @lottery.name)

.form-wrapper
  = form_for @lottery, url: lottery_candidates_path, method: :put do |f|
    = render partial: 'shared/validation_errors', locals: { object: @lottery }

    %table.table.table-striped
      %thead
        %th= Candidate.human_attribute_name :number
        %th= Candidate.human_attribute_name :name
        %th= Candidate.human_attribute_name :weight
        %th= t('terms.operations.destroy')
      %tbody
        = f.fields_for :candidates do |candidate|
          %tr
            %th= candidate.index + 1
            %td= candidate.text_field :name, class: 'form-control'
            %td= candidate.select :weight, Candidate.weight_choices, {}, { class: 'form-control' }
            %td= candidate.check_box :_destroy, { class: 'form-control' }

    .col-md-12= f.submit t('terms.operations.update'), class: 'btn btn-primary pull-right'
