%h1= t('terms.titles.index_of_target_of_parent', model_name: Candidate.model_name.human, parent: @lottery.name)

.table-wrapper
  %table.table.table-striped
    %thead
      %th.number= Candidate.human_attribute_name :number
      %th= Candidate.human_attribute_name :name
      %th= Candidate.human_attribute_name :weight
    %tbody
      - @lottery.candidates.each.with_index(1) do |candidate, index|
        %tr
          %th.number= index
          %td= candidate.name
          %td= candidate.human_weight

%p= link_to t('terms.operations.edit'), lottery_candidates_edit_path(@lottery)
