!!!
%html{ lang: "ja" }
  %head
    %title= t('app.name')
    = stylesheet_link_tag    'rails-reveal'
    = javascript_include_tag 'rails-reveal'
    = csrf_meta_tags
  %body
    = yield

    :javascript
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide' // none/fade/slide/convex/concave/zoom
      });
