!!!
%html{ lang: "ja" }
  %head
    %title= t('app.name')
    = stylesheet_link_tag    'reveal_customized'
    = javascript_include_tag 'reveal'
    = csrf_meta_tags
  %body
    = yield

  :javascript
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,
      transition: 'slide' // none/fade/slide/convex/concave/zoom
    });

    Reveal.addEventListener('ready', function(event) {
      Reveal.configure({ center: event.currentSlide.classList.contains("center") })
    });
    Reveal.addEventListener('slidechanged', function(event) {
      Reveal.configure({ center: event.currentSlide.classList.contains("center") })
    });
